<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>800063246697-mtmms103ont0i4k391aaeonrggkdg36u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800063246697-mtmms103ont0i4k391aaeonrggkdg36u</string>
	<key>API_KEY</key>
	<string>AIzaSyDvO9-IpO1bQqKpRXD9BHSzJpaupz0UpsA</string>
	<key>GCM_SENDER_ID</key>
	<string>800063246697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.personalLab.RickAndMortyGuide</string>
	<key>PROJECT_ID</key>
	<string>rick-and-morty-guide</string>
	<key>STORAGE_BUCKET</key>
	<string>rick-and-morty-guide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:800063246697:ios:d07dec156feeb238</string>
	<key>DATABASE_URL</key>
	<string>https://rick-and-morty-guide.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-6613437005301499~8469294414</string>
</dict>
</plist>
